:root{
    --black: rgba(31, 31, 31, 1);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: rgba(190, 188, 187, 1);
    --grey: rgba(66, 66, 66, 1);
    --dark-blue: rgba(28, 28, 59, 1);
    --red: rgba(205, 61, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
}
.debug{
    border: 1px solid black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.p-10{
    padding: 10px;
}
.p-40{
    padding: 40px;
}
.p-20{
    padding: 0 0 0 20px;
}
.pt-20{
    padding-top: 20px;
}
.m-40{
    margin-left: 40px;
}
.m-60{
    margin: 0 60px;
}
/*BG-COLORS*/
.mybg-black{
    background-color: var(--black);
}
.mybg-red{
    background-color: var(--red);
}
.mybg-light-grey{
    background-color: var(--light-grey);
}
.mybg-grey{
    background-color: var(--grey);
}
.mybg-dark-blue{
    background-color: var(--dark-blue);
}
.mybg-blue{
    background-color: var(--blue);
}
.mybg-lavish-white{
    background-color: var(--lavish-white);
}

/*COLORS*/
.c-black{
    color: var(--black);
}
.c-red{
    color: var(--red);
}
.c-light-grey{
    color: var(--light-grey);
}
.c-dark-blue{
    color: var(--dark-blue);
}
.c-blue{
    color: var(--blue);
}
.c-lavish-white{
    color: var(--lavish-white);
}


/* NAV */
.fa-bars{
    visibility: hidden;
}
.width-nav{
    width: 100%;
}
.nav-sticky{
    position: sticky;
}
.logo{
    width: 100px;
}
.bg-image-hero1{
    background-image: url('../img/jumbo-bg.png');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
.bg-image-hero2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5%;
    width: 20%;
}
.returnal{
    width: 300px;
    margin-left:5%;
    margin-top: 15%;
    margin-bottom: 3rem;
}
.takes{
    width: 300px;
    margin-left:5%; 
    margin-top: 8%;  
}
.card-text, .card-title{
    margin: 5px 20px;
}
.btn-accedi, .btn-acquista, .btn-info{
    border: none;
    border-radius: 20px;
    margin: 5px 20px;
}

.btn-scopri{
    width: 130px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
}
.btn-explore{
    width: 250px;
    margin: 5px 0;
    border: none;
    border-radius: 20px;
}

.between{
    display: flex;
    justify-content: space-between;
}
.p-10{
    padding: 10px;
}
.p-40{
    padding: 40px;
}
.m-40{
    margin-left: 40px;
}
.fa-search{
    font-size: 1.5rem;
    margin-top: 6px;
    margin-left: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;    
}
.img-carousel{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.img-carousel:hover{
    border-bottom: 3px solid var(--blue);
}
.img-width{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.img-console{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.img-width:hover{
    border: 2px solid var(--black);
}


#carousel{
    overflow-x: hidden;
}
.decoration{
    text-decoration: none;
}
.footer-logo{
    padding: 20px 0;
    width: 150px;
    filter:invert(0.7);
}
.sie, .sony{
    width: 200px;
}
footer{
    overflow-x: hidden;
}