:root{
    --black: rgba(31, 31, 31, 1);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: rgba(190, 188, 187, 1);
    --grey: rgba(66, 66, 66, 1);
    --dark-blue: rgba(28, 28, 59, 1);
    --red: rgba(205, 61, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
}
.debug{
    border: 1px solid black;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.bold{
    font-weight: 600;
    text-align: right;
    padding: 5px;
}
.p-10{
    padding: 20px;
}
.p-40{
    padding: 40px;
}
.p-20{
    padding:0 20px;
}
.pt-20{
    padding-top: 20px;
}
.m-40{
    margin-left: 40px;
}
.m-60{
    margin: 0 60px;
}

/*BG-COLORS*/
.mybg-black{
    background-color: var(--black);
}
.mybg-red{
    background-color: var(--red);
}
.mybg-light-grey{
    background-color: var(--light-grey);
}
.mybg-grey{
    background-color: var(--grey);
}
.mybg-dark-blue{
    background-color: var(--dark-blue);
}
.mybg-blue{
    background-color: var(--blue);
}
.mybg-lavish-white{
    background-color: var(--lavish-white);
}

/*COLORS*/
.c-black{
    color: var(--black);
}
.c-red{
    color: var(--red);
}
.c-light-grey{
    color: var(--light-grey);
}
.c-dark-blue{
    color: var(--dark-blue);
}
.c-blue{
    color: var(--blue);
}
.c-lavish-white{
    color: var(--lavish-white);
}

/*TITOLI*/
h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

h6{
    font-weight: bold;
}

/*BUTTON*/
.btn-red{
    border-radius: 20px;
    border: none;
    width: 120px;
}
.btn-blue-xs{
    background-color: var(--dark-blue);
    width: 80px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    border: 1px solid var(--blue);
    padding: 10px;
}

.btn-blue{
    width: 200px;
    border-radius: 20px;
    border: none;
}
.btn-blue-small{
    width: 150px;
    border-radius: 20px;
    border: none;
}

.btn-grey, .btn-dark-blue{
    width: 240px;
    border-radius: 20px;
    border: none;    
}
.fa-search{
    margin: 10px;
    font-size: 1.5rem;
}
/*HEADER*/
.nav-box{
    display: flex;
}

/* HERO */
#hero .bg-image-hero1{
    background-image: url('../img/jumbo-bg.png');
    height: 650px;
    background-position: center top;
    background-size: cover;
}
#hero2 .bg-image-hero2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 650px;
    background-position: center top;
    background-size: cover;
}

#hero .box, #hero2 .box{
    width: 40%;
    padding-top: 6rem;
    padding-left: 2rem;
}
#hero img, #hero2 img{
    width: 250px;
    margin-bottom: 50px;
}
#hero .container-fluid img{
    width: 100%;
    border: none;
    border-radius: 20px;
}

#hero .container-fluid img:hover{
    border: 3px solid var(--dark-blue);
    padding: 10px;
}

/*CAROUSEL*/
#carousel{
    padding: 20px;
}
#carousel p{
    font-size: 1.5rem;
}
#carousel img{
    width: 100%;
    padding: 80px;
}
#carousel .col-4:hover{
    border-bottom: 3px solid var(--dark-blue);
    padding: 10px;
}

/*NUOVE USCITE*/
#nuove-uscite{
    overflow-x: hidden;
}
#nuove-uscite .row p{
    font-size: 1.25rem;
}

/*SCONTI*/
#sconti p{
    font-size: 1.5rem;
}

/* SOCIAL */
#social .d-flex{
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#social .block{
    width: 25%;
    padding: 10px;
}
#social img{
    width: 100%;
}

/*FOOTER*/
#carousel{
    overflow-x: hidden;
}
.decoration{
    text-decoration: none;
}
.footer-logo{
    padding: 20px 0;
    width: 150px;
    filter:invert(0.7);
}
.sie, .sony{
    width: 200px;
}
footer{
    overflow-x: hidden;
}


/*MEDIA QUERY*/
@media screen and (max-width: 1200px){
    #social .d-flex{
        width: 100%;
    }
    #carousel img{
        padding: 0;
    }
    #hero .box, #hero2 .box{
        width: 50%;
        padding-top: 5rem;
        padding-left: 2rem;
    }
    #nuove-uscite .row p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px){
    #social .d-flex{
        width: 100%;
    }
    #social.block{
        width: 50%;
        padding: 10px;
    }
    #carousel img{
        padding: 0;
    }
    #hero .box, #hero2 .box{
        width: 75%;
        padding-top: 6rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){
    #social .d-flex{
        width: 100%;
    }
    #social .block{
        width: 50%;
        padding: 10px;
    }
    #carousel img{
        padding: 0;
    }
    #hero .box, #hero2 .box{
        width: 100%;
        padding-top: 8rem;
        padding: 0 2rem;
    }
    footer .link-col{
        width: 100%;
    }
}